
@{
    ViewData["Title"] = "Index";
	Layout = "_LayoutAdmin";
}


<main class="content">
	<h1>
		Dashboard
	</h1>
	<p>Stats of your website!</p>


	<div class="dashboard-container">
		<div class="stats-cards">
			<img src="~/css/assets/graph.png" alt="" />
			<div class="stat-text">
				
				<h3>Donations</h3>
			</div>
		</div>

		<div class="stats-cards">
			<img src="~/css/assets/graph.png" alt="" />
			<div class="stat-text">
				
				<h3>Events</h3>

				
			</div>
		</div>

		<div class="stats-cards">
			<img src="~/css/assets/graph.png" alt="" />

			<div class="stat-text">
				
				<h3>Users</h3>
			</div>
		</div>
	</div>


</main>
